body {
    padding: 0%;
    margin: 0%;
    height: 100vh;
    width: cover;
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


table {
    width: 60%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="submit"]{
    background-color: aquamarine;
}